﻿<!DOCTYPE html> 
<html> 
	<body> 
		<div id="container">
			<div>
				<ul>
				@foreach (var environment in Model)
                {
                    <li><a href="environment/@environment">@environment</a></li>
                }
				</ul>
			</div>
			<small>Page rendered at @DateTime.Now.ToString("dd MMM yyyy h:mm:ss")</small>
		</div>
	</body> 
</html>